@import './mixin_file/mixin';
@import './mixin_file/hamburger';
@import './mixin_file/variables';
@import './mixin_file/mixinprogetto';
@include cointaner-project;

     .container img {
         position: relative;
         width: 70%;
         height: 75%;
         border-radius: 20px;
         image-rendering: auto;
         top: 15%;
         left:10%;

 }

 .image {
     height: 100%;
     width: 100%;

 }

 .desc-work {
     background: rgba(255, 255, 255, 0.15);
     border-radius: 20px;
     backdrop-filter: blur(10px);
     border: 1px solid rgba(255, 255, 255, 0.2);
     position: relative;
     z-index: 2;
     width: 70%;
     height: 50%;
     top:25%;

 }

 .desc {
     position: relative;
     line-height: normal;
     text-align: center;
     top: 100px;
     font-weight: bold;


 }
 

 /* Formattazione tablet*/
 @include formatSite(mobile);
 @include formatSite(tablet);

 
 @media (min-width:600px) and (max-width:1023px) {

 @include cointaner-project;
 @include hamburger-menu();

     * {
         letter-spacing: 2px;
     }

         .image {
         width: 100%;
         height: 400px;

     }

    .container img {
         position: relative;
         width: 90%;
         height: 70%;
         border-radius: 20px;
         image-rendering: auto;
         top:25%;
     }
     

footer {
    @include footer-style;
     }

     footer {
        @include footer-style;
    }

    .info-section,
    .social-section {
        @include info-footer;
    }

    .info-section:hover,
    .social-section:hover {
        @include hover-footer;
    }

    .title {
        @include title-footer;

    }

    .footer-content {
        @include footer-content;

        ul {
            @include ul;

            li {
                @include li;

                a {
                    @include a;

                    &:hover {
                        @include a-hover;
                    }

                }

            }

        }

    }

    footer p {
    @include footer-p;
    
    }

 }

 /* Formattazione smartphone*/
 @media (max-width: 599px) {

     @include hamburger-menu();
     @include cointaner-project();

     .container {
        margin: 0;
        display: flex;
        flex-direction: column;

     img {
             position: relative;
             width: 350px;
             border-radius: 20px;
             image-rendering: auto;
             top:100px;
             left: 80px;
 }

}

     .image {
         height: 100%;
         width: 400px;
         position: relative;
         bottom: 60px;
         margin: 0;
}

 footer {
    @include footer-style;
     }

     footer {
        @include footer-style;
    }

    .info-section,
    .social-section {
        @include info-footer;
    }

    .info-section:hover,
    .social-section:hover {
        @include hover-footer;
    }

    .title {
        @include title-footer;

    }

    .footer-content {
        @include footer-content;

        ul {
            @include ul;

            li {
                @include li;

                a {
                    @include a;

                    &:hover {
                        @include a-hover;
                    }

                }

            }

        }

    }

    footer p {
    @include footer-p;
    
    }
     
}