 @mixin hamburger-menu {

     nav.hamburger-menu .checkbox-controllo {
         position: fixed;
         cursor: pointer;
         top: 18px;
         right: 46px;
         left: 0px;
         width: 40px;
         height: 40px;
     }

     nav.hamburger-menu {
         position: fixed;
         z-index: 1000;
     }

     nav.hamburger-menu .checkbox-controllo .span-hamburger,
     nav.hamburger-menu .checkbox-controllo .span-hamburger::before,
     nav.hamburger-menu .checkbox-controllo .span-hamburger::after {
         content: "";
         position: absolute;
         width: 20px;
         height: 2px;
         background-color: white;
         transition: all 0.3s ease;
         top: 50%;
     }

     nav.hamburger-menu .checkbox-controllo .span-hamburger {
         left: 20%;
     }

     nav.hamburger-menu .checkbox-controllo .span-hamburger::after {
         top: 8px;
     }

     nav.hamburger-menu .checkbox-controllo .span-hamburger::before {
         top: -8px;
     }

     nav.hamburger-menu ul {
         display: block;
         position: fixed;
         height: 100%;
         z-index: 100;
         left: -100%;
         top: 100px;
         background: linear-gradient(135deg, #667eea, #764ba2);
         height: 100vh;
         transition: left 1s ease;
     }

     nav.hamburger-menu ul li {
         border: none;
         border-radius: 0;
         padding: 20px;
         width: 100%;
         height: 100px;
         background: linear-gradient(135deg, #667eea, #764ba2);
         backdrop-filter: blur(10px);
         transition: left 1s ease;
     }

     #checkbox-label:checked~#menu {
         left: 0 !important;
     }

 }