@mixin formatSite($device) {
  @if $device==mobile {
    @media (max-width: 599px) {
      .hamburger-menu ul {
        width: 250px;
      }

      .desc-work {
        font-size: 12px;
        margin-top: 20px;
        margin-left: -1%;
        object-fit: cover;
        background: rgba(255, 255, 255, 0.15);
        padding: 30px;
        border-radius: 20px;
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        position: relative;
        bottom: 20px;
        left: 8px;
        z-index: 2;
        width: 100%;
        height: 550px;
      }

      .desc {
        position: relative;
        line-height: normal;
        text-align: center;
        top: 100px;
        font-weight: bold;
      }



    }
  }


  @else if $device==tablet {
    @media (min-width: 600px) and (max-width: 1024px) {
      .hamburger-menu ul {
        width: 400px;
      }
      .desc-work {
        font-size: 12px;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 20px;
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        position: relative;
        z-index: 2;
        width: 70%;
        height: 70%;
        margin-left: 15%;
      }


      .desc {
        position: relative;
        text-align: center;
        top: 100px;
        font-weight: bold;
      }
    }
  }

  @else {
    @error "Device non supportato";
  }

}


@mixin h1-project {
  h1 {
         text-align: center;
         font-family: $family-geneva;
         color: rgb(72, 0, 255);
         border-style: ridge;
         border-color: blue;
         font-size: 30px;
         font-weight: 900;
         margin: 150px;
         padding: 30px;
         text-transform: uppercase;


     }

}

@mixin cointaner-project {
  .container {
     background: $background-gradient;
     color:$color-page;
     margin-left: 20px;
     margin-right: 200px;
     border-radius: 20px;
     box-shadow: 0 25px 60px rgba(102, 126, 234, 0.4);
     position: relative;
     overflow: hidden;
     display: flex;
     height: 800px;
     width: 98%;

}
}


