@import 'variables';




@mixin style-button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

@mixin button-type($type) {
  @if $type=='submit' {
    background-color: #4CAF50;

    &:hover {
      background-color: #193f1b;
    }

  }

  @else if $type=='reset' {
    background-color: #f44336;


    &:hover {
      background-color: #da190b;
    }
  }
}


@function hover-style($type) {
  @if $type==submit {
    @return (bg: #37663a,
      shadow: rgba(0, 0, 0, 0.2));
  }

  @else if $type==reset {
    @return (bg: #832020,
      shadow: rgba(255, 255, 255, 0.2));
  }

  @else {
    @error "Tipo di bottone non supportato";
  }
}

@mixin messagge-div {
  .message {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    position: relative;
    bottom:400px;

  }
}

@mixin textarea-device {
  #message {
    height: 236px;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in;

    &:focus {
      outline: none;
      border-color: $color-page;
    }

  }

}

@mixin contact-device {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px;
  position: relative;
  width: 100%;

}

@mixin iframe-device {
  height: 200px;
  margin-bottom: 100px;
  margin-top: 100px;
  position: relative;
  right: 130px;
}

@mixin iframe-desktop {
  width: 1300px;
  height: 400px;
  margin-bottom: 100px;
  margin-top: 100px;
  margin-left: 150px;
}

@mixin span-form {
  position: relative;
  text-transform: uppercase;
  bottom: 250px;
  font-size: 40px;
  background-color: $color-page;
  font-family: $family-geneva;
  color: rgb(72, 0, 255);
  border-style: ridge;
  border-color: blue;
  font-size: 50px;
  font-weight: 900;
  padding: 30px;
}

@mixin pin-map {
  .addr-pin {
    display: inline;
    position: relative;
    padding-left: 36px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial;
    font-size: 24px;
    font-weight: 800;
    color: $color-page;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    top: -120px;
    margin-right: 200px;

    &::before {
      content: "";
      position: absolute;
      left: 6px;
      top: 6px;
      width: 18px;
      height: 18px;
      border-radius: 50% 50% 50% 0;
      transform: rotate(-45deg);
      background: #ef4444;
      box-shadow: 0 2px 6px rgba(14, 30, 37, 0.12);
    }

  }

}

@mixin form-input {

  .contact>input[type=text],
  input[type=email],
  input[type=tel] {
    width: 600px;
    padding: 8px;
    border: 2px solid #e5e7eb;
    border-radius: 4px;
    font-family: serif;
    transition: border-color 0.3s ease-in;
  }

  .contact>input[type=text]:focus,
  input[type=email]:focus,
  input[type=tel]:focus {
    border-color: blue;
    outline: none;
  }
}

@mixin form-background {
  .background-form {
    background: $background-gradient;
    color: $color-page;
    border-radius: 20px;
    height: 1350px;
    box-shadow: 0 25px 60px rgba(102, 126, 234, 0.4);
    margin-top: 150px;
    position: relative;
  }
}


@mixin display-form {
  form {
    position: relative;
    left: 100px;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 1023px;
    height: 600px;
  }
}

@mixin display-form-desktop {
  form {
    position: relative;
    left: 250px;
    top: 50px;
    display: flex;
    align-items: baseline;
    width: 200px;
    gap: 400px;
  }
}

@mixin animation-form {
  .animation-form {
    transform: translateX(-200px);
    animation: fadeSlideIn 1s ease-in-out forwards;
  }

  @keyframes fadeSlideIn {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@mixin formatSite($device) {
  @if $device==mobile {
    @media (max-width: 599px) {
      .hamburger-menu ul {
        width: 250px;
      }

      .contattaci>span {
        left: 5%;
      }

      iframe {
        width: 450px;
        top: 400px;
        margin-left: 150px;
      }

      .contact {
        width: 170px;
        right: 37%;
      }

      .message {
        right: 100px;
  
      }

      #message {
        width: 450px;

      }

  
      .contattaci {
        position: relative;
        width: 900px;
        height: 400px;

        img {
          width: 600px;
          height: 400px;
          filter: opacity(40%);
        }

      }


    }
  }


  @else if $device==tablet {
    @media (min-width: 600px) and (max-width: 1023px) {
      .hamburger-menu ul {
        width: 400px;
      }

      .contattaci>span {
        left: 27%;
      }

      iframe {
        width: 600px;
        top: 250px;
        margin-left: 250px;
      }

      .contact {
        width: 100px;
        right: 20%;
      }

      .message {
        right: -5px;

      }

      #message {
        width: 577px;
      }


      .contattaci {
        position: relative;
        width: 900px;
        height: 400px;

        img {
          width: 1050px;
          height: 400px;
          filter: opacity(40%);
        }
      }

      
    }
  }

  @else {
    @error "Device non supportato";
  }

}
