$gradient:linear-gradient(135deg, #667eea, #764ba2);
$background-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 50%, #f093fb 100%);
$family-geneva: 'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;
$color-page:white;




